:root {
    --font-family: "Montserrat", Arial, sans-serif;
    --white: #fff;
    --black: #000;
    --medium-grey: #bbb;
    --bright-blue: #2427f0;
    --pale-blue: #dee6ed;
    --pale-yellow: #f9f4e1;
    --pale-orange: #ebdbd4;
    --dark-blue: #2c3e50;
    --dark-slate-blue: #483d8b;
    --purple: #6a5acd;
    --dark-purple: #5541cc;
    --transparent-white: rgba(255, 255, 255, 0.5);
}